<!-- Page Content -->
    <div class="jumbotron">
      <div class="container">
        <h1>Lucian Commerce</h1>
        <p>Shop online in the beautiful island of Saint Lucia!</p>
        <a href="#"><button class="btn btn-success">Learn More</button></a>
      </div>
    </div>

  
            <div class="container">
                <div class="row carousel-holder col-md-12" id="Carousel">

                    <div class="col-md-11">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="http://i.imgur.com/uRi04KW.jpg" alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src="http://i.imgur.com/A9sVxqO.jpg" alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
              
    

    
        <% @products.each do |category, products| %>
        <div class = "row">
            <h3><%= category.name %></h3>
        <% products.first(3).each do |product| %>
           <div class="col-md-4"> 
            <div class="thumbnail">
                 <%= image_tag product.default_image.path, :width => '200px', :height => '100px' %> 
                 <hr>
                <div class="caption">
                    <h4 class="pull-right"><%= number_to_currency product.price %></h4>
                    <h4><%= link_to product.name, product_path(product.permalink)%></h4>
                   <p><%= product.short_description %></p>
                </div>
            </div>
        </div> 
      <% end %>
        </div>
      <% end %>
      </div>
   
     

    <hr>
<div class="info">
   <div class="row">
        <div class = "col-lg-6"> 
          <span id = "railsmage">  
          <%= image_tag ("Rails.svg.png"),:width => '100px', :height => '140px' %>
          </span>
          <h2>A Rails 4.0 engine</h2>
          <p>With over 826,006 known live websites, Ruby on rails is a framework that has created jop opportunities for countless programmers and developers and is constantly being made use of to create websites/webapps with more efficiency and sustainability. </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Goal</h2>
          <p>Currently Students at the Sir Arthur Lewis Community College, we decided to create this ecommerce platform to give locally made products exposure both nationally and internationally. Doing this on the internet, will raise awarness in especially the youth, creating a path for them, as the leaders of the next generations </p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-3">
          <h2>Status</h2>
          <p>This is a website made without any funding,<b>FREE</b>.This website is still in its very early stages and functionallity on a whole is there, but features such as site wide search and account customizabilty are still in development. If this becomes a funded project, we hope to add more content to the site..</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
  </div>  
                 
