
<% if has_order? && current_order.has_items? %>
<% order.order_items.each do |item| %>
<div class = "items">
<div class = "row">
  <div class = "prod-info">
  <h4><%= item.ordered_item.full_name %> 
  <% unless defined?(readonly) %>
    <span>
      <%= link_to "+", adjust_basket_item_quantity_path(item.id), :method => :post, :class => 'ajax' %>
      <%= link_to "-", adjust_basket_item_quantity_path(item.id), :method => :delete, :class => 'ajax' %>
    </span>
  <% end %> 
  (x<%= item.quantity %>) <%= number_to_currency item.sub_total %> 
  <% unless defined?(readonly) %>
    <span>
      <%= link_to "Delete", remove_basket_item_path(item), :method => :delete, :class => 'dekete ajax' %>
    </span>
  <% end %>  
  </h4> 
  </div>
</div>
<div class = "row">
  <table class="table table-bordered">
    <tr>
      <td>Tax</td>
      <td><%= number_to_currency item.tax_amount %></td>
    </tr>
    <% if order.delivery_service %>   
    <tr>
      <td><%= order.delivery_service.name %></td>
      <td><%= number_to_currency order.delivery_price %></td>
    </tr>
    <tr>
      <td>Tax on Delivery</td>
      <td><%= number_to_currency order.delivery_tax_amount %></td>
    </tr>
    <% end %>
   </table> 
  </div>
</div>
<div class ="row">
<h4>Total tax: <%= number_to_currency order.tax %></h4>
<h4>Total before tax: <%= number_to_currency order.total_before_tax %></h4>
<h4>Total with tax: <%= number_to_currency order.total %></h4>
</div>
</div>
<hr>

<% end %>
<% end %>

