
  <h2>Checkout</h2>
<%= render 'items', :order => @order %>

<%= bootstrap_form_for @order, :url => checkout_path do |f| %>
<%= f.error_messages %>
<!--
<form class="form-inline">
  <div class="form-group">
    <label for="FirstName"><%= f.label :first_name %></label>
    <input type="text" class="form-control" id="FirstName" placeholder="First Name"><%= @first_name %>
  </div>
  <div class="form-group">
    <label for="SecondName"><%= f.label :last_name%></label>
    <input type="text" class="form-control" id="SecondName" placeholder="Second Name"><%= @last_name %>
  </div>
</form>
<form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Name</label>
    <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
  </div>
</form>
-->
 
 <hr> 

  <dl>
    <dd><%= f.text_field :first_name, :placeholder => 'First Name'  %> <%= f.text_field :last_name, :placeholder => 'Last Name'%></dd>

    
    <dd><%= f.text_field :billing_address2, label: "Post Office", help: "Enter any of the following Post Offices: --------------   
    (1)Post Office A
    (2)Post Office B" %></dd>
   
    
    <dd><%= f.text_field :email_address %></dd>

    
    <dd><%= f.text_field :phone_number %></dd>

    <div class = "invis">
      <dd>
          <%= f.text_field :billing_address1, :placeholder => "Line 1" %>
        </dd>
        <dd>
          <%= f.text_field :billing_address3, :placeholder => "Town/City" %>
        </dd>
        <dd>
          <%= f.text_field :billing_address4, :placeholder => "County" %>
        </dd>
        <dd>
          <%= f.text_field :billing_postcode, :placeholder => "Postcode", :class => 'postcode' %>
        </dd>
        <dd>
          <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name %>
        </dd>
    </div>
  </dl>
  <p class="submit">
    <%= f.submit "Continue to payment" %>
  </p>
<% end %>
