<h2>Products</h2>

<% @products.each do |category, products| %>
  <h3><%= category.name %></h3>
  <ul class="list-inline">
    <% products.each do |product| %>
    <li >
      <h4><%= link_to product.name, product_path(product.permalink) %></h4>

  <div class="row">
  <div class="col-md-6">
    <%= image_tag product.default_image.path, :width => '180px', :height => '120px' %> 
    <b><%= product.short_description %></b> 
  </div>
</div>
      <p><b>Price:</b> <%= number_to_currency product.price %></p>
    </li>
    <% end %>
  </ul>
<% end %>