<!DOCTYPE html>
<html>
<head>
  <title>Shoppe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="Nav_H">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand",  href="#">
                <span class="glyphicon glyphicon-shopping-cart">Zone-Tag</span></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li  class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Home", root_path %></li> 
                  <li  class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to "Products", products_path %></li>
                  <li  class="<%= 'active' if params[:controller] == 'about' %>"><%= link_to "About", products_path %></li>
                 
            

                  <li><button type="button" class="btn btn-default btn-lg" id="Cart"> <span class="glyphicon glyphicon-shopping-cart"><%= link_to "Cart", basket_path %></span></span></button> </li>
          
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav> 



  <%if params[:action] == 'show' %> 
<div id= "notice" style="margin-top:50px;padding:50px;">
  <p style = "color:green;" ><%= flash[:notice] %></p>
<div>
  <%end%>

<% if has_order? %>
<p style="border:1px solid black;padding:10px;">
  You have <%= pluralize current_order.total_items, 'item'%> in your basket which cost
  <%= number_to_currency current_order.total_before_tax %>.
  <%= flash[:notice] %>
  <%= link_to "View basket", basket_path %> | <%= link_to "Checkout", checkout_path %>
</p>
<% end %>

<%= yield %>

<%if params[:controller] == 'home'%>
<hr>
  <div id= "notice">
    <p style = "color:green;" ><%= flash[:notice] %></p>
  <div>
<%end%>


        <hr>

        <!-- Footer -->
<footer class="main">
  <div class = "row">
    <div class = "col-md-4">        
      <ul class="links">
        <h5>Policies</h5>
        <li>
          <%= link_to "Privacy policy", products_path %>
        </li>
        <li>
          <%= link_to "Returns policy", products_path%>
        </li>
    </ul>
  </div>

<div class = "col-md-4">
  <div class="callUs">
    <p>Got any questions? Call us today:</p>
    <p class="number">1758 723 6387</p>
    <p>We're available 24 hours a day all days of the week.</p>
    <!-- Links to social media
    -->
  <ul class="social">
    <li class="twitter">
      <%= link_to "Twitter", 'http://twitter.com' %>
    </li>
    <li class="facebook">
      <%= link_to "Facebook", "http://facebook.com" %>
    </li>
    <li class="pinterest">
      <%= link_to "Pinterest", "http://pinterest.com" %>
    </li>
    <li class="linkedin">
      <%= link_to "Linked In", "http://linkedin.com" %>
    </li>
    <li class="vimeo">
      <%= link_to "Vimeo", "http://vimeo.com" %>
    </li>
    <li class="youtube">
      <%= link_to "Youtube", "http://youtube.com" %>
    </li>
  </ul>
  </div>
</div>

<div class="col-md-4">
  <div class="copyright">
    <p>&copy; 2015. All Rights Reserved.</p>
    <p>All third party logos &amp; product images &copy; their respective owners.</p>
    <p>
      Shoppe is a trading name of Niftyware Limited.<br />
      Company registration number: 8514362.<br />
      VAT registration number: GB 123 123 123.
    </p>
  </div>
</div>
</div>
        </footer>

    </div>

</body>
</html>